@font-face {
    font-family: "Minecraftia";
    src: url("Minecraftia-Regular.ttf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    font-family: 'Minecraftia', Times, serif;
}

.containet_um {
    margin: 0;
    padding: 0;
    background-color: #275A57;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: white;
}

.foto_perfil {
    width: 40%;
    display: block;
    margin: 20% 0 0 0;
    
}

.ola_text {
    margin: 12px, 0px, 0px, 0px;
    font-size: 190%;
    color: white;
    margin-top: 20px;
    margin-bottom: -6;
    margin-bottom: 0px;
    height: 50px;
}

.name_text {
    margin: 0;
    font-size: 190%;
    color: white;
    background-color: #d19135;
    padding: 10px 10px;
    border-radius: 10px;
    display: inline-block;
    height: 50px 
}

.button_fixed {
    background-color: #275A57;
    font-family: 'Minecraftia', Times, serif;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer; 
}